@import "@/assets/sass/media";

.add-role-page-container {
  margin-top: 5em;

  .up-page-content {
  }

  .down-page-content {
    .parent-panel-box--categories-box {
      flex: 0.45;
      justify-content: space-between;
    }

    .parent-show-selected-categories--buttons {
      flex: 0.55;

      .parent-buttons {
        .btn-style {
          font-family: IRANSans;
        }
      }
    }
  }
}

/* responsive */

@include breakpoint(1400px) {
  .down-page-content {
    .parent-panel-box--categories-box {
      flex: 0.4 !important;
    }

    .parent-show-selected-categories--buttons {
      flex: 0.6 !important;
      margin-right: 5px;
    }
  }
}

@include breakpoint(large) {
  .add-role-page-container {
    max-width: 1200px;
  }
}

@include breakpoint(1085px) {
  .down-page-content {
    flex-direction: column;

    .parent-panel-box--categories-box {
      justify-content: space-around !important;
    }

    .parent-show-selected-categories--buttons {
      margin-top: 10px;
    }
  }
}

@include breakpoint(small) {
  .down-page-content {
    .parent-panel-box--categories-box {
      justify-content: space-between !important;
    }
  }
}

@include breakpoint(400px){
  .up-page-content{
    flex-direction: column !important;
  }

  .down-page-content{
    .parent-panel-box--categories-box{
      flex-direction: column !important;
    }
  }
}
