@import "@/assets/sass/variable";
@import "@/assets/sass/media";

.add-role-page-container {
  .up-page-content {
    .parent-title-icon--text-input {
      flex: 0.8;

      .parent-title-icon {
        flex: 0.3;
        align-items: center;
        color: $iron;

        .icon-style {
          background-color: $alabaster;
          border: 1px solid $iron;
          border-radius: 5px;
          margin-left: 3px;
        }

        .title-style {
          margin-bottom: 0;

          .active {
            color: $bossanova;
          }
        }
      }

      .parent-text-inputs {
        flex: 0.6;
        margin-top: 1em;
      }
    }
  }
}

/* responsive */
@include breakpoint(1085px) {
  .add-role-page-container {
    .up-page-content {
      .parent-title-icon--text-input {
        flex: 1 !important;
      }
    }
  }
}

@include breakpoint(900px) {
  .title-style {
    font-size: 14px;
  }

  .parent-text-inputs {
    .text-input-style {
      font-size: 14px;
    }
  }
}

@include breakpoint(800px) {
  .add-role-page-container {
    .up-page-content {
      .parent-title-icon--text-input {
        align-items: flex-start !important;
        flex-direction: column;

        .parent-text-inputs {
          width: 90%;
        }
      }
    }
  }
}

@include breakpoint(483px) {
  .add-role-page-container {
    .up-page-content {
      .parent-title-icon--text-input {
        .parent-text-inputs {
          flex-direction: column;
        }
      }
    }
  }
}

@include breakpoint(400px){
  .add-role-page-container{
    .up-page-content{
      flex-direction: column !important;

      .parent-title-icon--text-input{
        width: 100%;
      }

      .parent-toggle-activate{
        display: flex !important;
        align-self: flex-start;
      }
    }
  }
}