@import "@/assets/sass/variable.scss";

.down-page-content {
  .parent-panel-box--categories-box {
    .parent-panel-box {
      .each-panel-box {
        background-color: $athens-gray;
        padding: 15px 8px 15px 7em;
        position: relative;
        cursor: pointer;

        .panel-text {
          color: $bossanova;
        }

        .active-panel {
          color: $bossanova;
        }

        .inactive-panel {
          color: #ced1d4;
        }
        .triangle {
          position: absolute;
          border-top: 29px solid transparent;
          border-right: 35px solid $athens-gray;
          border-bottom: 26px solid transparent;
          right: 9.6em;
          margin-top: -16px;
        }
      }
    }
  }
}
