@import "@/assets/sass/variable";
@import "@/assets/sass/media";

.parent-show-selected-categories--buttons {
  .no-found-style {
    background-color: $athens-gray;
    padding: 20px 0;
    max-height: 200px;
  }

  .parent-show-selected-categories {
    .show-selected-categories-title {
      .chevron-down-style {
        cursor: pointer;
      }

      .line {
        height: 1px;
        background-color: #ced1d4;
        width: 20%;
      }

      .parent-radio-text {
        font-size: 12px;

        .custom-radio-label {
          font-size: 14px;
        }
      }
    }

    .show-selected-categories-details {
      .ul-style {
        flex-wrap: wrap;

        .li-style {
          color: #b6b6b6;
          line-height: 3;
          text-align: center;
          list-style: none;
        }
      }
    }

    .hide-details {
      display: none !important;
    }

    .show-details {
      display: flex;
    }
  }
}

/* responsive */
@include breakpoint(1085px) {
  .no-found-style {
    align-items: center;
    max-width: max-content;
    align-self: center;
  }
}

@include breakpoint(663px) {
  .line {
    display: none;
  }
}

@include breakpoint(537px) {
  .show-selected-categories-title {
    .category-name-style {
      font-size: 13px;
    }

    .parent-radio-text {
      .custom-radio-label {
        font-size: 12px !important;
      }
    }
  }

  .show-selected-categories-details {
    .ul-style {
      .li-style {
        font-size: 13px;
      }
    }
  }
}

@include breakpoint(483px) {
  .show-selected-categories-title {
    .parent-radio-group {
      width: 0;
    }
  }
}
