@import "@/assets/sass/variable";
@import "@/assets/sass/media";

.down-page-content {
  .parent-panel-box--categories-box {
    //start parent-categories-box
    .parent-categories-box {
      flex: 0.75;
      background-color: $alabaster;
      border: 1px solid $iron;
      padding: 10px 10px;
      margin-left: 1em;
      margin-right: 3em;
      border-radius: 3px;
      height: max-content;

      .parent-search-text-input {
        .v-text-field.search-input-style .v-input__control input {
          font-size: 8px; // Adjust the font size as needed
        }
      }
      .parent-categories-checkbox {
        .parent-each-checkbox-row {
          .custom-style {
            .v-expansion-panel-text__wrapper {
              padding: 0 !important;
            }
          }

          .custom-title {
            padding: 0;

            .v-expansion-panel-title {
              padding: 0;

              .v-input__details {
                display: none !important;
              }
            }

            .v-expansion-panel-title--active {
              .v-expansion-panel-title__overlay {
                opacity: 0 !important;
              }
            }
          }
        }
      }
    }

    //end parent-categories-box
  }
}

/* responsive */
@include breakpoint(1400px) {
  .parent-categories-box {
    margin-right: -2em !important;
    margin-left: 0em !important;
  }
}

@include breakpoint(400px){
  .parent-categories-box{
    margin-right: 0 !important;
  }
}
