@font-face {
    font-family: IRANSans;
    src: url("../fonts/woff/IRANSansWeb\(FaNum\)_Medium.woff")
        format("woff"),
      url("../fonts/woff2/IRANSansWeb\(FaNum\)_Medium.woff2")
        format("woff2"),
      url("../fonts/ttf/IRANSansWeb\(FaNum\)_Medium.ttf")
        format("truetype"),
      url("../fonts/eot/IRANSansWeb\(FaNum\)_Medium.eot")
        format("eot");
    font-weight: normal;
    font-style: normal;
  }
  